.OV_button {
  position: relative;
  overflow: hidden;
  height: 100px;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 250px;
  margin-left: 250px;
  margin-top: 40px;
}
.DL_button {
  position: relative;
  overflow: hidden;
  height: 100px;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #3d3a4e;
  background-size: 400%;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 250px;
  margin-right: 250px;
  margin-top: 40px;
}

.OV_button:hover::before {
  transform: scaleX(1);
}
.DL_button:hover::before {
  transform: scaleX(1);
}

.button-content {
  position: relative;
  z-index: 1;
}

.OV_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(231, 9, 9) 10.8%,
    rgb(231, 134, 6) 94.3%
  );
  transition: all 0.475s;
}
.DL_button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgb(231, 9, 9) 10.8%,
    rgb(231, 134, 6) 94.3%
  );
  transition: all 0.475s;
}
